body{
    background-color: teal;
}
.title{
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 3em;
}
div.photo1{
    position: relative;
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 /*   display: inline-block;*/
    font-family: 'Yellowtail', cursive;
    font-size: 1.3em;
    text-align: center;
    transition: transform 1s;
    transform-origin: 0;
    transform: translate(100px,200px);
    transform: rotate(20deg);
}
div.photo2{
    position: relative;
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /*  display: inline-block;*/
    font-family: 'Yellowtail', cursive;
    font-size: 1.3em;
    text-align: center;
    transition: transform 0.1s;
 /*   transform-origin: ;*/
    transform: rotate(20deg);
}
div.photo1:hover{
  /*  transform: scale(1.05,1.05);*/
    transform: translate(100px,200px);
}

