body{
    background-color: teal;
}
.title{
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 3em;
}
div.photo1{
    position: relative;
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Yellowtail', cursive;
    font-size: 1.3em;
    text-align: center;

    transition: transform 1s;
}
div.photo1:hover{
    transform: translate(100px,200px);
}